---
import { clientTranslations } from '../../i18n';
const lang = Astro.locals.lang;
const t = clientTranslations[lang];
const { author, authorid } = Astro.props;
import Icon from '../ui/Icons.astro';

let x = author.social_media !== undefined ? author.social_media.x : undefined;
let instagram = author.social_media !== undefined ? author.social_media.instagram : undefined;
let youtube = author.social_media !== undefined ? author.social_media.youtube : undefined;
let tiktok = author.social_media !== undefined ? author.social_media.tiktok : undefined;
let github = author.social_media !== undefined ? author.social_media.github : undefined;
---

<div class="rounded-xl border bg-card p-6">
    <h3 class="text-lg font-semibold mb-4">{t.article.aboutAuthor}</h3>
    
    <div class="flex items-center gap-4 mb-4">
        <img 
            src={"/images/autores/" + authorid + ".webp" || "/placeholder.svg"}
            alt={author.name}
            class="h-16 w-16 rounded-full object-cover"
        />
        <div>
            <div class="text-3xl hidden"/>
            <div class={"font-medium text-" + (author.social_media === undefined ? 'xl' : 'base')}>{author.name}</div>
            <div class="text-sm text-muted-foreground">{author.bio || t.articles.defaultBio}</div>
            <div class="flex flex-row gap-1 -mt-1">
                <a href={x} class={(x !== undefined && x !== '') ? '' : 'hidden'}><Icon icon="twitter" className="h-4 w-4 text-muted-foreground mt-2" /></a>
                <a href={instagram} class={(instagram !== undefined && instagram !== '') ? '' : 'hidden'}><Icon icon="instagram" className="h-4 w-4 text-muted-foreground mt-2" /></a>
                <a href={youtube} class={(youtube !== undefined && youtube !== '') ? '' : 'hidden'}><Icon icon="youtube" className="h-4 w-4 text-muted-foreground mt-2" /></a>
                <a href={tiktok} class={(tiktok !== undefined && tiktok !== '') ? '' : 'hidden'}><Icon icon="tiktok" className="h-4 w-4 text-muted-foreground mt-2" /></a>
                <a href={github} class={(github !== undefined && github !== '') ? '' : 'hidden'}><Icon icon="github" className="h-4 w-4 text-muted-foreground mt-2" /></a>
            </div>
            </div>
    </div>
</div>

