---
import Boton from "../BotonDifuminado.astro";
const {inicial} = Astro.props
---

<ul class="lg:flex lg:gap-x-2 w-full justify-center my-4 py-2" id={inicial}>
    <div class="md:flex gap-x-2 md:w-full lg:w-fit justify-center">
        <div class="flex gap-x-2 md:w-fit w-full justify-center">
            <div id="mathématiques">
                <div class="none">
                    <Boton ciencia="mathématiques" direccion="/articulos/mathematiques" inicial={inicial} id="mathématiques"/>
                </div>
                <div class="clic">
                    <Boton ciencia="mathématiques" direccion="/articulos" inicial={inicial} id="mathématiques"/>
                </div>
            </div>
            <div id="biologie">
                <div class="none">
                    <Boton ciencia="biologie" direccion="/articulos/biologie" inicial={inicial} id="biologie"/>
                </div>
                <div class="clic">
                    <Boton ciencia="biologie" direccion="/articulos" inicial={inicial} id="biologie"/>
                </div>
            </div>
            <div id="géologie">
                <div class="none">
                    <Boton ciencia="géologie" direccion="/articulos/geologie" inicial={inicial} id="géologie"/>
                </div>
                <div class="clic">
                    <Boton ciencia="géologie" direccion="/articulos" inicial={inicial} id="géologie"/>
                </div>
            </div>
        </div>
        <div class="flex gap-x-2 md:w-fit w-full justify-center my-3 md:m-0">
            <div id="physique">
                <div class="none">
                    <Boton ciencia="physique" direccion="/articulos/physique" inicial={inicial} id="physique"/>
                </div>
                <div class="clic">
                    <Boton ciencia="physique" direccion="/articulos" inicial={inicial} id="physique"/>
                </div>
            </div>
            <div id="chimie">
                <div class="none">
                    <Boton ciencia="chimie" direccion="/articulos/chimie" inicial={inicial} id="chimie"/>
                </div>
                <div class="clic">
                    <Boton ciencia="chimie" direccion="/articulos" inicial={inicial} id="chimie"/>
                </div>
            </div>
            <div id="technologie">
                <div class="none">
                    <Boton ciencia="technologie" direccion="/articulos/technologie" inicial={inicial} id="technologie"/>
                </div>
                <div class="clic">
                    <Boton ciencia="technologie" direccion="/articulos" inicial={inicial} id="technologie"/>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-x-2 w-full lg:w-fit justify-center md:mt-3 lg:m-0">
        <div id="programmation">
            <div class="none">
                <Boton ciencia="programmation" direccion="/articulos/programmation" inicial={inicial} id="programmation"/>
            </div>
            <div class="clic">
                <Boton ciencia="programmation" direccion="/articulos" inicial={inicial} id="programmation"/>
            </div>
        </div>
        <div id="géologie">
            <div class="none">
                <Boton ciencia="scientifiques" direccion="/articulos/scientifiques" inicial={inicial} id="scientifiques"/>
            </div>
            <div class="clic">
                <Boton ciencia="scientifiques" direccion="/articulos" inicial={inicial} id="scientifiques"/>
            </div>
        </div>
    </div>
</ul>

<style>
    .clic{
        display:none;
    }
    #m #mathématiques{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #b #biologie{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #g #géologie{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }
    
    #f #physique{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #q #chimie{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #t #technologie{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #p #programmation{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #c #scientifiques{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }
</style>