---
import Layout from "../../../layouts/Layout.astro";
import Menu from "../../../components/Menu.astro";
import Contenido from "../../../components/Contenido.astro";
import FilaBotones from "../../../components/FilaBotones.astro";
const title = "Biología";

const articulos = (await Astro.glob('./*.md')).sort((a, b) => Date.parse(b.frontmatter.fechaOrdenar) - Date.parse(a.frontmatter.fechaOrdenar));
---

<Layout title={title}>
	<Menu design="articles"/>
	<section class="md:flex px-12 sm:px-24
	 md:px-0 gap-x-7 w-full justify-center h-full mt-7">
		<Contenido contenido="article" url={articulos[0].frontmatter.url} ciencia={articulos[0].frontmatter.ciencia} titulo={articulos[0].frontmatter.titulo} autor={articulos[0].frontmatter.autor} fecha={articulos[0].frontmatter.fechaMostrar} imagen={articulos[0].frontmatter.portada} design="xl" fotoAutor={articulos[0].frontmatter.fotoDelAutor}/>
		<Contenido contenido="article" url={articulos[1].frontmatter.url} ciencia={articulos[1].frontmatter.ciencia} titulo={articulos[1].frontmatter.titulo} autor={articulos[1].frontmatter.autor} fecha={articulos[1].frontmatter.fechaMostrar} imagen={articulos[1].frontmatter.portada} design="lg" fotoAutor={articulos[1].frontmatter.fotoDelAutor}/>
	</section>
	<FilaBotones inicial="p"/>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(2, 4).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(4, 6).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(6, 8).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(8, 10).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(10, 12).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(12, 14).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(14, 16).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(16, 18).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(18, 20).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(20, 22).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(22, 24).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(24, 26).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(26, 28).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(28, 30).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(30, 32).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(32, 34).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(34, 36).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(36, 38).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
	<section class="px-16 lg:px-0 lg:flex lg:gap-x-7 w-full justify-center h-fit">
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-end h-fit">
			{articulos.slice(38, 40).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
		<div class="lg:px-0 sm:px-12 px-2 md:flex md:gap-x-7 w-full justify-center lg:justify-start h-fit">
			{articulos.slice(42, 44).map((post) => (
				<Contenido contenido="article" url={post.frontmatter.url} ciencia={post.frontmatter.ciencia} titulo={post.frontmatter.titulo} autor={post.frontmatter.autor} fecha={post.frontmatter.fechaMostrar} imagen={post.frontmatter.portada} fotoAutor={post.frontmatter.fotoDelAutor} design="sm"/>
			))}
		</div>
	</section>
</Layout>