---
import PrincipalLayout from "../layouts/PrincipalLayout.astro";
---

<PrincipalLayout title="Analizar Funciones Cuadráticas" class="flex">
    <header class="flex-col flex gap-x-6 lg:flex-row gap-y-4 md:gap-y-6 mt-18 px-20">
        <section class="w-full h-auto bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black px-6 py-4 md:px-12 md:py-8 rounded-lg">
            <h1 class="text-2xl md:text-4xl font-semibold ">Analizador de funciones cuadráticas</h1>	
        </section>
        <section class="px-6 py-4 md:px-12 md:py-8 bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black rounded-lg w-full">
            <div>
                <p class="text-base md:text-xl">
                    Introduce la función cuadrática:
                </p>
            </div>
            <div class="flex flex-col xl:flex-row justify-between mt-4 text-base md:text-xl gap-y-4">
                <div class="flex">
                    y = 
                    <input type="number" id="input1" class="mx-2 h-6 w-8 md:h-8 md:w-10 px-1 text-principal-black bg-principal-white rounded-md" required minlength="1" value = "1"/>
                    x<sup class="mt-2">2</sup> + 
                    <input type="number" id="input2" class="mx-2 h-6 w-8 md:h-8 md:w-10 px-1 text-principal-black bg-principal-white rounded-md" required minlength="1" value = "0"/>
                    x + 
                    <input type="number" id="input3" class="mx-2 h-6 w-8 md:h-8 md:w-10 px-1 text-principal-black bg-principal-white rounded-md" required minlength="1" value = "0"/>
                </div>
                <div>
                    <button id="buta"class="h-10 px-2 text-principal-black bg-principal-white rounded-md">
                        ¡Analizar!
                    </button>
                </div>
            </div>
        </section>
    </header>
    <main class="h-full w-full mt-6">
        <!-- Valor de a, vértice, puntos de corte con los ejes, tabla de valores y ¿gráfica? -->
        <section class="px-6 py-4 rounded-lg w-full bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black" id="campoA">
            El valor de a es ¿?, ¿? que 0, por lo que la parábola está abierta hacia ¿?.
        </section>
        <section class="flex flex-col xl:flex-row gap-y-4 md:gap-y-6 h-full mt-6 gap-x-6">
            <article class="order-last xl:order-first bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black h-auto md:px-6 md:py-4 rounded-lg items-center text-center justify-center flex">
                <div class=" bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black px-2 py-2" id="plot"></div>
            </article>
            <div class="flex gap-x-6 h-auto flex-col lg:flex-row gap-y-4 md:gap-y-6">
                <article class="bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black h-auto w-full px-6 py-4 rounded-lg items-center text-center">
                    Punto(s) de corte con el eje x (y = 0):
                    <div class="hidden lg:block">
                    <math class="my-6" display="block" >
                        <mi>0</mi>
                        <mo>=</mo>
                        <mn class="valorA">a</mn>
                        <mo>·</mo>
                        <msup>
                            <mi>x</mi>
                            <mn>2</mn>
                        </msup>
                        <mo>+</mo>
                        <mn class="valorB">b</mn>
                        <mo>·</mo>
                        <mi>x</mi>
                        <!-- signo de c -->
                        <mo>+</mo>
                        <mn class="valorC">c</mn>
                        <mo>&#8658;</mo>
                        <mrow>
                        <mi>x</mi>
                        <mo>=</mo>
                        <!-- sustituir valores de a, b, c -->
                        <mfrac>
                            <mrow>
                            <mo>-</mo>
                            <mi class="valorB">b</mi>
                            <mo>±</mo>
                            <msqrt>
                                <mrow>
                                <msup>
                                    <mi class="valorB">b</mi>
                                    <mn>2</mn>
                                </msup>
                                <mo>-</mo>
                                <mn>4</mn>
                                <mo>·</mo>
                                <mi class="valorA">a</mi>
                                <mo>·</mo>
                                <mi class="valorC">c</mi>
                                </mrow>
                            </msqrt>
                            </mrow>
                            <mrow>
                            <mn>2</mn>
                            <mo>·</mo>
                            <mi class="valorA">a</mi>
                            </mrow>
                        </mfrac>
                        <mo>=</mo>
                        <msub id="campoCorteX1">
                            <mi>x</mi>
                            <mn>1</mn>
                        </msub>
                        <mo id="campoCorteXAux">y</mo>
                        <msub id="campoCorteX2">
                            <mi>x</mi>
                            <mn>2</mn>
                        </msub>
                        </mrow>
                    </math>
                    </div>
                    <div class="block lg:hidden">
                        <math class="my-6" display="block" >
                            <mi>0</mi>
                            <mo>=</mo>
                            <mn class="valorA">a</mn>
                            <mo>·</mo>
                            <msup>
                                <mi>x</mi>
                                <mn>2</mn>
                            </msup>
                            <mo>+</mo>
                            <mn class="valorB">b</mn>
                            <mo>·</mo>
                            <mi>x</mi>
                            <!-- signo de c -->
                            <mo>+</mo>
                            <mn class="valorC">c</mn>
                        </math>
                        <math display="block" class="mb-6">
                            <mrow>
                            <mi>x</mi>
                            <mo>=</mo>
                            <!-- sustituir valores de a, b, c -->
                            <mfrac>
                                <mrow>
                                <mo>-</mo>
                                <mi class="valorB">b</mi>
                                <mo>±</mo>
                                <msqrt>
                                    <mrow>
                                    <msup>
                                        <mi class="valorB">b</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>-</mo>
                                    <mn>4</mn>
                                    <mo>·</mo>
                                    <mi class="valorA">a</mi>
                                    <mo>·</mo>
                                    <mi class="valorC">c</mi>
                                    </mrow>
                                </msqrt>
                                </mrow>
                                <mrow>
                                <mn>2</mn>
                                <mo>·</mo>
                                <mi class="valorA">a</mi>
                                </mrow>
                            </mfrac>
                            <mo>=</mo>
                            <msub id="campoCorteX1">
                                <mi>x</mi>
                                <mn>1</mn>
                            </msub>
                            <mo id="campoCorteXAux">y</mo>
                            <msub id="campoCorteX2">
                                <mi>x</mi>
                                <mn>2</mn>
                            </msub>
                            </mrow>
                        </math>
                        </div>
                    <div id="campoCorteX">
                        El/los puntos de corte con el eje x son (¿?,0) y (¿?,0)
                    </div>
                    <hr class="my-4">
                    Punto(s) de corte con el eje y (x = 0):
                    <math class="my-6" display="block">
                        <msub>
                            <mi>y</mi>
                        </msub>
                        <mo>=</mo>
                        <mrow>
                            <!-- valor de a -->
                            <mi class="valorA">a</mi>
                            <mo>·</mo>
                            <msup>
                                <mn>0</mn>
                                <mn>2</mn>
                            </msup>
                        </mrow>
                        <!-- signo de b -->
                        <mo>+</mo>
                        <mrow>
                            <!-- valor de b -->
                            <mi class="valorB">b</mi>
                            <mo>·</mo>
                            <mn>0</mn>
                        </mrow>
                        <!-- signo de c -->
                        <mo>+</mo>
                        <!-- valor de c -->
                        <mi class="valorC">c</mi>
                        <mo>=</mo>
                        <!-- valor de c -->
                        <mi class="valorC">c</mi>
                    </math>
                    <!-- coordenadas -->
                    El punto de corte con el eje y se encuentra en el punto (0, <span class="valorC">¿?</span>)
                </article>
                <article class="h-full">
                    <div  class=" bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black w-full px-6 py-4 rounded-lg items-center text-center mb-6 h-auto">
                        <p>
                            Valor del vértice:
                        </p>
                        
                        <math display="block" class="mt-6">
                            <msub>
                                <mi>x</mi>
                                <mn>v</mn>
                            </msub>
                            <mo>=</mo>
                            <mfrac>
                            <mrow>
                                <mo>-</mo>
                                <mi class="valorB">b</mi>
                            </mrow>
                            <mrow>
                                <mn>2</mn>
                                <mo>·</mo>
                                <mi class="valorA">a</mi>
                            </mrow>
                            </mfrac>
                            <mo>=</mo>
                            <!-- valor de x para el vértice -->
                            <mi class="valorVerticeX2">¿?</mi>
                        </math>

                        <math class="my-6" display="block">
                            <msub>
                                <mi>y</mi>
                                <mn>v</mn>
                            </msub>
                            <mo>=</mo>
                            <mrow>
                                <!-- valor de a -->
                                <mi class="valorA">a</mi>
                                <mo>·</mo>
                                <msup>
                                    <mi class="valorVerticeX1">x</mi>
                                    <mn>2</mn>
                                </msup>
                            </mrow>
                            <!-- signo de b -->
                            <mo>+</mo>
                            <mrow>
                                <!-- valor de b -->
                                <mi class="valorB">b</mi>
                                <mo>·</mo>
                                <mi class="valorVerticeX1">x</mi>
                            </mrow>
                            <!-- signo de c -->
                            <mo>+</mo>
                            <!-- valor de c -->
                            <mi class="valorC">c</mi>
                            <mo>=</mo>
                            <!-- valor de y para el vértice -->
                            <mi class="valorVerticeY">¿?</mi>
                        </math>
                        <p>
                            <!-- Coordenadas del vértice -->
                            El vértice se encuentra en el punto (<span class="valorVerticeX2">¿?</span>, <span class="valorVerticeY"></span>)
                        </p>
                    </div>
                    <div class=" bg-dark-math dark:bg-light-math text-principal-white dark:text-principal-black w-full px-6 py-4 rounded-lg items-center text-center justify-center flex h-fit">
                        <table class="[&>tr>th]:border">
                            <tr class="[&>td]:px-2 [&>th]:border [&>td]:border">
                            <th class="px-2">x</th>
                            <td id="campoX1">¿?</td>
                            <td id="campoX2">¿?</td>
                            <td id="campoX3">¿?</td>
                            <td id="campoX4">¿?</td>
                            <td id="campoX5">¿?</td>
                            </tr>
                            <tr class="[&>td]:px-2 [&>th]:border [&>td]:border">
                            <th>y</th>
                            <td id="campoY1">¿?</td>
                            <td id="campoY2">¿?</td>
                            <td id="campoY3">¿?</td>
                            <td id="campoY4">¿?</td>
                            <td id="campoY5">¿?</td>
                            </tr>
                        </table>
                    </div>
                    
                </article>
            </div>
        </section>
    </main>
</PrincipalLayout>
<script src="https://unpkg.com/function-plot/dist/function-plot.js"></script>
<script>
    function draw() {
        try {
          functionPlot({
            target: '#plot',
            data: [{
              fn: "x^2",
              sampler: 'builtIn',  // this will make function-plot use the evaluator of math.js
              graphType: 'polyline'
            }]
          });
        }
        catch (err) {
          console.log(err);
          alert(err);
        }
      }
    
    draw();

    document.getElementById('buta').addEventListener('click', function () {
        recogerDatos();
    });

    function recogerDatos() {
        let a = parseFloat(document.getElementById("input1").value);
        let b = parseFloat(document.getElementById("input2").value);
        let c = parseFloat(document.getElementById("input3").value);

        if (a == 0){
            window.alert("Introduce un valor distinto de 0 para el coeficiente 'a'.")
        } else {
            operar(a, b, c)
        }
    }

    function operar(a, b, c) {
        
    
        const funcion = `${a}x^2 + ${b}x + ${c}`
    
        console.log(`Mostrando resultados para la función ${funcion}.`)
        
        let valorA = document.getElementsByClassName("valorA")
        for (let i = 0; i < valorA.length; i++){
            if (a<0){
                valorA[i].innerHTML = `(-${a*(-1)})`
            } else {
                valorA[i].innerHTML = a
            }
        }

        let valorB = document.getElementsByClassName("valorB")
        for (let i = 0; i < valorB.length; i++){
            if (b<0){
                valorB[i].innerHTML = `(-${b*(-1)})`
            } else {
                valorB[i].innerHTML = b
            }
        }

        let valorC = document.getElementsByClassName("valorC")
        for (let i = 0; i < valorC.length; i++){
            if (c<0){
                valorC[i].innerHTML = `(-${c*(-1)})`
            } else {
                valorC[i].innerHTML = c
            }
        }

        // Valor de a y relación con la apertura de la parábola

        let campoA = document.getElementById("campoA")
        
    
        console.log("\nIdentificación de a:")
        if (a > 0) {
        console.log(`El valor de a es ${a}, mayor que 0, por lo que la parábola está abierta hacia arriba.`)
        campoA.innerHTML=`El valor de a es ${a}, mayor que 0, por lo que la parábola está abierta hacia arriba.`
        } else {
        console.log(`El valor de a es ${a}, menor que 0, por lo que la parábola está abierta hacia abajo.`)
        campoA.innerHTML=`El valor de a es ${a}, menor que 0, por lo que la parábola está abierta hacia abajo.`
        }
    
        // Cálculo del vértice

        console.log("\nCálculo del vértice:")
        console.log(-b / (2 * a))
        const x_v = Math.round(-b / (2 * a)*100)/100
        const y_v = Math.round((a * x_v * x_v + b * x_v + c)*100)/100
        console.log(`El vértice se encuentra en el punto (${x_v}, ${y_v}).`)

        let valorVerticeX1 = document.getElementsByClassName("valorVerticeX1")
        for (let i = 0; i < valorVerticeX1.length; i++){
            if (x_v<0){
                valorVerticeX1[i].innerHTML = `(-${x_v*(-1)})`
            } else {
                valorVerticeX1[i].innerHTML = x_v.toString()
            }
        }

        let valorVerticeX2 = document.getElementsByClassName("valorVerticeX2")
        for (let i = 0; i < valorVerticeX2.length; i++){
            valorVerticeX2[i].innerHTML = x_v.toString()
        }

        let valorVerticeY = document.getElementsByClassName("valorVerticeY")
        for (let i = 0; i < valorVerticeY.length; i++){
            valorVerticeY[i].innerHTML = y_v.toString()
        }
    
        // Puntos de corte con los ejes de coordenadas
        
        let campoCorteX1 = document.getElementById("campoCorteX1")
        let campoCorteX2 = document.getElementById("campoCorteX2")
        let campoCorteXAux = document.getElementById("campoCorteXAux")
        let campoCorteX = document.getElementById("campoCorteX")

        console.log("\nPunto(s) de corte con el eje x:")
        let discriminante = b * b - 4 * a * c
        if (discriminante > 0) {
            const x1 = Math.round(((-b + discriminante) / (2 * a))*100)/100
            const x2 = Math.round(((-b - discriminante) / (2 * a))*100)/100
            campoCorteX1.innerHTML = `<mn>${x1}</mn>`
            campoCorteX2.innerHTML = `<mn>${x2}</mn>`
            campoCorteXAux.innerHTML = "y"
            campoCorteX.innerHTML = `Los puntos de corte con el eje x son (${x1}, 0) y (${x2}, 0)`
        } else if (discriminante < 0) {
            campoCorteX1.innerHTML = "<mi>x</mi>"
            campoCorteX2.innerHTML = "<mi>ℝ</mi>"
            campoCorteXAux.innerHTML = "∉"
            campoCorteX.innerHTML = `No hay puntos de corte con el eje x`
        } else {
            const x = Math.round((-b / (2 * a))*100)/100
            campoCorteX1.innerHTML = `<mn>${x}</mn>`
            campoCorteX2.innerHTML = ""
            campoCorteXAux.innerHTML = ""
            campoCorteX.innerHTML = `El punto de corte con el eje x es (${x}, 0)`
        }
        
        console.log("\nPunto de corte con el eje y:")
        const y = c
        console.log(`El punto de corte con el eje y es (0,${y})`)
    
        // Tabla de valores
        
        console.log("\nTabla de valores:")
        let valores = []
        for (let i = 0; i < 5; i++){
            let x_i = Math.round((x_v + i - 2)*100)/100
            let y_i = Math.round((a * x_i *x_i + b * x_i + c)*100)/100
            valores.push([x_i, y_i])
            console.log(`(${x_i}, ${y_i})`)
        }

        let campoX1 = document.getElementById("campoX1")
        let campoX2 = document.getElementById("campoX2")
        let campoX3 = document.getElementById("campoX3")
        let campoX4 = document.getElementById("campoX4")
        let campoX5 = document.getElementById("campoX5")
        let campoY1 = document.getElementById("campoY1")
        let campoY2 = document.getElementById("campoY2")
        let campoY3 = document.getElementById("campoY3")
        let campoY4 = document.getElementById("campoY4")
        let campoY5 = document.getElementById("campoY5")

        campoX1.innerHTML = (Math.round((x_v-2)*100)/100).toString()
        campoX2.innerHTML = (Math.round((x_v-1)*100)/100).toString()
        campoX3.innerHTML = (Math.round((x_v)*100)/100).toString()
        campoX4.innerHTML = (Math.round((x_v+1)*100)/100).toString()
        campoX5.innerHTML = (Math.round((x_v+2)*100)/100).toString()

        campoY1.innerHTML = valores[0][1]
        campoY2.innerHTML = valores[1][1]
        campoY3.innerHTML = valores[2][1]
        campoY4.innerHTML = valores[3][1]
        campoY5.innerHTML = valores[4][1]

        console.log(valores)
        console.log(valores[0])
    
        function draw() {
        try {
          functionPlot({
            target: '#plot',
            data: [{
              fn: funcion,
              sampler: 'builtIn', 
              graphType: 'polyline'
            }]
          });
        }
        catch (err) {
          console.log(err);
          alert(err);
        }
      }
    
      draw();
    }
        
</script>

