---
import Icon from "../ui/Icons.astro";
import Button from '../ui/Button.astro';
import { ScienceList } from "../Science";
import { calcReadTime } from "../readTime";
import { getEntry } from "astro:content";
import { clientTranslations } from '../../i18n';
const lang = Astro.locals.lang;
const t = clientTranslations[lang];

const { title, description, author, authors, date, slug, body } = Astro.props;
const scienceData = ScienceList.filter(({id}) => id == slug.split('/')[1])[0];
const authorData = (await getEntry("authors", author?.id || authors[0]?.id)).data;
const authorName = authors !== undefined ? `${authorData.name} ${t.common.and} ${(authors.lenght - 1).toString} ${t.common.more}` : authorData.name;
---

<div class={"rounded-lg text-card-foreground shadow-md dark:shadow-lg gradient-"+scienceData.color}>
    <div class="p-6">
        <div class="mb-2">
            <h3 class="text-xl font-semibold"><a href={`/article/${slug.split('/')[2]}`} class="hover:text-primary">{title}</a></h3>
            <div class="flex items-center gap-2 text-sm mt-1">
                <span class={"bg-principal-black bg-opacity-20 backdrop-blur-sm px-2 py-1 rounded-full color-"+scienceData.color}>{t.sciences[scienceData.name]}</span>
                <span>{date.toLocaleDateString(t.articles.timeStamp, { year: 'numeric', month: 'long', day: 'numeric' })}</span>
                <span>•</span>
                <span>{calcReadTime(body)} {t.articles.readTime}</span>
            </div>
        </div>
        <p class="text-muted-foreground mb-4 line-clamp-3">{description}</p>
        <div class="flex justify-between items-center">
            <div class="text-sm text-muted-foreground">{t.home.articles.by} {authorName}</div>
            <a href={`/article/${slug.split('/')[2]}`}>
                <Button variant="ghost" size="sm">
                    <Icon icon="book-open" className="mr-2 h-4 w-4" />
                    {t.common.readArticle}
                </Button>
            </a>
        </div>
    </div>
</div>

