---
const {contenido = 'article', url, autor, titulo, ciencia, fecha, duracion, imagen, design, fotoAutor, alt} = Astro.props
---
<div class="my-7" id={design}>
    <a class="group" href={url}>
        <m id={contenido}>
            <div class="bg-principal-black group-hover:scale-[1.075] rounded-lg transition-all relative w-full">
                <img src={imagen} class="bg-principal-white w-full rounded-lg image object-cover text-principal-white text-sm" alt={alt}>
                <div class="absolute top-0 bottom-0 w-full h-full items-center justify-center play">
                    <svg width="96" height="96" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#f2f2f2" d="M21.409 9.353a2.998 2.998 0 0 1 0 5.294L8.597 21.614C6.534 22.736 4 21.276 4 18.968V5.033c0-2.31 2.534-3.769 4.597-2.648l12.812 6.968Z"/>
                    </svg>
                </div>
            </div>
            <div id={ciencia}>
                <h6 class="font-medium uppercase mt-4 2xl:text-xl">
                    {ciencia}
                </h6>
                <div class="svg-wrap">
                    <svg viewBox="0 0 400 20" xmlns="http://www.w3.org/2000/svg">
                        <path id="svg_line" d="m 1.986,8.91 c 55.429038,4.081 111.58111,5.822 167.11781,2.867 22.70911,-1.208 45.39828,-0.601 68.126,-0.778 28.38173,-0.223 56.76079,-1.024 85.13721,-1.33 24.17379,-0.261 48.42731,0.571 72.58115,0.571"></path>
                    </svg>
                </div>
                <section class="link-svgline">
                    <h2 class="my-1 2xl:my-2 text-[1.3rem] 2xl:text-3xl font-medium text-principal-black dark:text-principal-white title">
                        {titulo}
                        <svg class="link-svgline"><use xlink:href="#svg_line"></use></svg>
                    </h2>
                    <footer>
                        <div class="z-0 flex gap-x-1 2xl:gap-x-2 text-dark-gray dark:text-light-gray metadata-article text-[0.85rem] [&>p]:my-auto h-fit 2xl:text-xl">
                            <img alt="Foto de perfil del autor" src={fotoAutor} class="bg-principal-white h-4 w-4 2xl:h-6 2xl:w-6 rounded-full object-contain my-auto">
                            <p>{autor}</p>
                            <p>·</p>
                            <p>{fecha}</p>
                        </div>
                        <div class="hidden text-dark-gray dark:text-light-gray metadata-video text-[0.85rem] 2xl:text-xl">
                            <p>Duración: {duracion}</p>
                        </div>
                    </footer>
                </section>
            </div>
        </main>
    </a>
</div>

<style>
    #video{
        .image{
            opacity:40%;
        }
        .play{
            display:flex;
        }
        .metadata-article{
            display:none;
        }
        .metadata-video{
            display:inline;
        }
    }

    #article{
        .image{
            opacity:100%;
        }
        .play{
            display:none;
        }
        .metadata-article{
            display:flex;
        }
        .metadata-video{
            display:none;
        }
    }
    #matemáticas{
        color:#004193;
        .link-svgline h2 svg.link-svgline {
            stroke: #004193;
        }
    }
    #biología{
        color:#005100;
        .link-svgline h2 svg.link-svgline {
            stroke: #005100;
        }
    }
    #geología{
        color:#6E3400;
        .link-svgline h2 svg.link-svgline {
            stroke: #6E3400;
        }
    }
    #física{
        color:#950000;
        .link-svgline h2 svg.link-svgline {
        stroke: #950000;
        }
    }
    #química{
        color:#820083;
        .link-svgline h2 svg.link-svgline {
            stroke: #820083;
        }
    }
    #tecnología{
        color:#623B00;
        .link-svgline h2 svg.link-svgline {
            stroke: #623B00;
        }
    }
    #programación{
        color:#5a12b0;
        .link-svgline h2 svg.link-svgline {
            stroke: #5a12b0;
        }
    }
    #científicos{
        color:#004f3e;
        .link-svgline h2 svg.link-svgline {
            stroke: #004f3e;
        }
    }
    :is(.dark #matemáticas) {
        color:#a8c6e3;
        .link-svgline h2 svg.link-svgline {
        stroke: #a8c6e3;
        }
    }
    :is(.dark #biología) {
        color:#64db62;
        .link-svgline h2 svg.link-svgline {
        stroke: #64db62;
    }
    }
    :is(.dark #geología) {
        color:#e2bba5;
        .link-svgline h2 svg.link-svgline {
        stroke: #e2bba5;
        }
    }
    :is(.dark #física) {
        color:#ffaaa2;
        .link-svgline h2 svg.link-svgline {
        stroke: #ffaaa2;
        }
    }
    :is(.dark #química) {
        color:#ff99ff;
        .link-svgline h2 svg.link-svgline {
        stroke: #ff99ff;
        }
    }
    :is(.dark #tecnología) {
        color:#f2ba48;
        .link-svgline h2 svg.link-svgline {
        stroke: #f2ba48;
        }
    }
    :is(.dark #programación) {
        color:#e9aaff;
        .link-svgline h2 svg.link-svgline {
        stroke: #e9aaff;
        }
    }
    :is(.dark #científicos) {
        color:#16dac0;
        .link-svgline h2 svg.link-svgline {
        stroke: #16dac0;
        }
    }
    #sm{
        width: 35%;
        .image{
            height:10rem;
            @media only screen and (min-width: 1536px){
                height:18rem;
        }}
        @media only screen and (max-width: 1024px){
            width: 40%;
        }

        @media only screen and (max-width: 768px){
            width: 100%;
        }
    }

    #xl{
        width: 48%;
        .title{
            font-size: 1.6rem;
        }
        .image{
            height:16rem;
        }
        @media only screen and (max-width: 768px){
            width: 100%;
        }
    }

    #lg{
        width:28%;
        .title{
            font-size: 1.4rem;
        }
        .image{
            height:16rem;
        }
        @media only screen and (max-width: 768px){
            width: 100%;
        }
    }
    .svg-wrap {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    }

    h2 {
    color: #404d5b;
    text-decoration: none;
    outline: none;
    }

    section {
    position: relative;
    z-index: 1; /* needed for setting pseudo-element z-index */
    overflow: hidden;
    backface-visibility: hidden;
    }

    section h2 {
    position: relative;
    display: inline-block;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    }

    section h2::before,
    section h2::after {
    pointer-events: none;
    backface-visibility: hidden;
    font-smoothing: antialiased;
    }

    .link-svgline h2 svg.link-svgline {
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        margin: 0;
        width: 100%;
        height: 20px;
        margin-top: 10px; 
        transition: stroke-dashoffset 0.3s ease-in-out;
        transform: translateY(-90%);
        fill: none;
        stroke-width: 5;
        stroke-dasharray: 400px; 
        stroke-dashoffset: 400px;
        z-index:10;
    }

    .group:hover .link-svgline svg.link-svgline {
        stroke-dashoffset: 0px; 
    }
</style>