---
const { slug, title, img, author } = Astro.props;
---

<a href={`/books/${slug}`} class="book-card p-4 max-w-xs text-left">
  <img src={img} alt={`Cover of ${title}`} class="book-cover w-full h-auto rounded-md aspect-[1/2] object-cover hover:scale-105 transition-all "/>
  <div class="book-details mt-3">
    <h2 class="book-title text-xl font-semibold">{title}</h2>
    <p class="book-author text-gray-600 mt-2">{author}</p>
  </div>
</a>
