---
const {design} = Astro.props;
import Buscador from "./Buscador.astro";
---

<header
	id="landing-header"
	>
    <div id={design} class="absolute py-4 px-10 2xl:py-8 flex items-center top-0 w-full justify-between z-40">
        <div class="flex flex-grow basis-0">
            <a class="hover:scale-110 transition-all" href="/">
                <!-- <img alt="Logo de divulgandociencia.com" src="/images/logo-modo-oscuro.webp" class="h-8 2xl:h-10 modo-oscuro"/>
                <img src="/images/logo-modo-claro.webp" alt="Logo de divulgandociencia.com" class="h-8 2xl:h-10 modo-claro"/> -->
                <img alt="Logo de divulgandociencia.com" src="/images/logo-modo-oscuro1.PNG" class="h-8 2xl:h-12 modo-oscuro rounded-2xl shadow-lg shadow-[#4f4f4f]"/>
                <img src="/images/logo-modo-claro1.PNG" alt="Logo de divulgandociencia.com" class="h-8 2xl:h-12 modo-claro rounded-2xl shadow-lg shadow-[#d2d2d2]"/>
            </a>
        </div>
        <nav>
            <ul
            class="[&>li>a]:min-[1800px]:text-xl flex text-sm font-generalsans-medium [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
            >
            <li><a class="index" href="/">Inicio</a></li>
            <li><a class="articles" href="/articulos">Artículos</a></li>
            </ul>
        </nav>
        
        <div class="flex flex-grow basis-0">
            <Buscador design={design}/>
        </div>

        <div
            id="menu-backdrop"
            class={`
            absolute rounded
            translate-x-[var(--left)] translate-y-[var(--top)]
            left-0 top-0
            w-[var(--width)] h-[var(--height)]
            transition-all duration-500
            ease-in-out opacity-0 -z-10
            `}
        >
        </div>
    </div>
	</header>

<!--Script para que se mueva el contenedor en el menú-->

<script>
    const listItem = document.querySelectorAll("#landing-header li")
    const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement
    menuBackDrop.style.setProperty("--left", `592.5px`)
    menuBackDrop.style.setProperty("--top", `18px`)
    menuBackDrop.style.setProperty("--width", `66.546875px`)
    menuBackDrop.style.setProperty("--height", `36px`)
  
    listItem.forEach((item) => {
      item.addEventListener("mouseenter", () => {
        const { left, top, width, height } = item.getBoundingClientRect()	
          
        menuBackDrop.style.setProperty("--left", `${left}px`)
        menuBackDrop.style.setProperty("--top", `${top}px`)
        menuBackDrop.style.setProperty("--width", `${width}px`)
        menuBackDrop.style.setProperty("--height", `${height}px`)
  
        menuBackDrop.style.opacity = "1"
        menuBackDrop.style.visibility = "visible"
      })
  
      item.addEventListener("mouseleave", () => {
        menuBackDrop.style.opacity = "0"
        menuBackDrop.style.visibility = "hidden"
      })
    })
</script>

<style>
    @media only screen and (max-width: 1080px){
        #menu-backdrop{
            display:none;
        }
    }
    #articles{
        color:#222222;
        .articles{
            background-color: rgb(34, 34, 34, .1);
            --tw-backdrop-blur: blur(16px);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            border-radius: 0.25rem/* 4px */;
        }
        :is(.dark .articles){
            background-color: rgb(245, 245, 245, .25);
        }

        #menu-backdrop{
            background-color: rgb(34, 34, 34, .1);
        }
        .modo-oscuro{
            display:none;
        }
    }
    :is(.dark #articles){
        color:#F5F5F5;
        #menu-backdrop{
            background-color: rgb(245, 245, 245, .25);
        }
        .modo-claro{
            display:none;
        }
        .modo-oscuro{
            display:block;
        }
    }

    #landing-page{
        color: #F5F5F5;
        .index{
            background-color: rgb(245, 245, 245, .25);
            --tw-backdrop-blur: blur(16px);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            border-radius: 0.25rem/* 4px */;
        }
        #menu-backdrop{
            background-color: rgb(245, 245, 245, .25);
        }
        .modo-claro{
            display:none;
        }
    } 
</style>
