---
import Contenido from "./Contenido.astro";
const {articulos} = Astro.props
---
<section class="md:flex px-12 sm:px-24 md:px-0 gap-x-7 w-full justify-center h-full mt-16 2xl:mt-24">
    {articulos.slice(0, 1).map((data) => (
        <Contenido ciencia = {data.ciencia} titulo = {data.titulo} autor={data.autor} fecha={data.fecha} portadaAlt={data.portadaAlt} id={data.id}/>
    ))}
</section>