---
import Boton from "../BotonDifuminado.astro";
const {inicial} = Astro.props
---

<ul class="lg:flex lg:gap-x-2 w-full justify-center my-4 py-2" id={inicial}>
    <div class="md:flex gap-x-2 md:w-full lg:w-fit justify-center">
        <div class="flex gap-x-2 md:w-fit w-full justify-center">
            <div id="maths">
                <div class="none">
                    <Boton ciencia="maths" direccion="/articulos/maths" inicial={inicial} id="maths"/>
                </div>
                <div class="clic">
                    <Boton ciencia="maths" direccion="/articulos" inicial={inicial} id="maths"/>
                </div>
            </div>
            <div id="biology">
                <div class="none">
                    <Boton ciencia="biology" direccion="/articulos/biology" inicial={inicial} id="biology"/>
                </div>
                <div class="clic">
                    <Boton ciencia="biology" direccion="/articulos" inicial={inicial} id="biology"/>
                </div>
            </div>
            <div id="geology">
                <div class="none">
                    <Boton ciencia="geology" direccion="/articulos/geology" inicial={inicial} id="geology"/>
                </div>
                <div class="clic">
                    <Boton ciencia="geology" direccion="/articulos" inicial={inicial} id="geology"/>
                </div>
            </div>
        </div>
        <div class="flex gap-x-2 md:w-fit w-full justify-center my-3 md:m-0">
            <div id="physics">
                <div class="none">
                    <Boton ciencia="physics" direccion="/articulos/physics" inicial={inicial} id="physics"/>
                </div>
                <div class="clic">
                    <Boton ciencia="physics" direccion="/articulos" inicial={inicial} id="physics"/>
                </div>
            </div>
            <div id="chemistry">
                <div class="none">
                    <Boton ciencia="chemistry" direccion="/articulos/chemistry" inicial={inicial} id="chemistry"/>
                </div>
                <div class="clic">
                    <Boton ciencia="chemistry" direccion="/articulos" inicial={inicial} id="chemistry"/>
                </div>
            </div>
            <div id="technology">
                <div class="none">
                    <Boton ciencia="technology" direccion="/articulos/technology" inicial={inicial} id="technology"/>
                </div>
                <div class="clic">
                    <Boton ciencia="technology" direccion="/articulos" inicial={inicial} id="technology"/>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-x-2 w-full lg:w-fit justify-center md:mt-3 lg:m-0">
        <div id="coding">
            <div class="none">
                <Boton ciencia="coding" direccion="/articulos/coding" inicial={inicial} id="coding"/>
            </div>
            <div class="clic">
                <Boton ciencia="coding" direccion="/articulos" inicial={inicial} id="coding"/>
            </div>
        </div>
        <div id="geology">
            <div class="none">
                <Boton ciencia="scientifics" direccion="/articulos/scientifics" inicial={inicial} id="scientifics"/>
            </div>
            <div class="clic">
                <Boton ciencia="scientifics" direccion="/articulos" inicial={inicial} id="scientifics"/>
            </div>
        </div>
    </div>
</ul>

<style>
    .clic{
        display:none;
    }
    #m #maths{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #b #biology{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #g #geology{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }
    
    #f #physics{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #q #chemistry{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #t #technology{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #p #coding{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }

    #c #scientifics{
        .clic{
            display:block;
        }
        .none{
            display:none;
        }
    }
</style>