---
import { getColaboradores } from '@/js/notion';
const colaboradores = await getColaboradores();

export async function getStaticPaths() {
  const colaboradores = await getColaboradores();
  return colaboradores.map(colaborador => ({
    params: { cientifico: colaborador.slug } // Use the slug property directly
  }));
}

import PrincipalLayout from '@/layouts/PrincipalLayout.astro';
// Obtener el slug desde los parámetros
const slug = Astro.params.cientifico;

// Buscar el científico correspondiente
const colaborador = colaboradores.find(c => c.slug === slug);
if (!colaborador) {
  throw new Error(`Científico no encontrado para slug: ${slug}`);
}

const title = `${colaborador.nombre} | Divulgando Ciencia`;
---

<PrincipalLayout 
    {title}
    description = {colaborador.bio}
    image = {colaborador.img}
>
    <main class="mt-20 w-full justify-center m-auto px-8 sm:px-32 lg:px-40 xl:px-64 text-principal-black dark:text-principal-white font-generalsans text-left lg:flex gap-x-8">
      <section class="w-1/2 mb-8 lg:mb-0">
        <img transition:name="autor" src={colaborador.img} class="w-96 rounded"/>
      </section>
      <section class="w-fit">
        <h2 class="text-4xl font-generalsans-medium">
          {colaborador.nombre}
        </h2>
        <h4 class="text-lg my-2">{colaborador.rol}</h4>
        <p class="text-lg my-4 text-wrap">{colaborador.bio}</p>
        {colaborador.email && (
          <a href={`mailto:${colaborador.email}`} class="flex gap-x-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2">
                <rect width="18" height="14" x="3" y="5" stroke-dasharray="64" stroke-dashoffset="64" rx="1">
                  <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0"/>
                </rect>
                <path stroke-dasharray="24" stroke-dashoffset="24" d="M3 6.5L12 12L21 6.5">
                  <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.4s" values="24;0"/>
                </path>
              </g>
            </svg>
            {colaborador.email}
          </a>
        )}
        <!-- <nav class="my-2 flex gap-x-2">
          {cientifico.redes.x && 
            <ul>
              <a href=`https://x.com/${cientifico.redes.x}`>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M17.751 3h3.067l-6.7 7.625L22 21h-6.172l-4.833-6.293L5.464 21h-3.07l7.167-8.155L2 3h6.328l4.37 5.752zm-1.076 16.172h1.7L7.404 4.732H5.58z"/>
                </svg>
              </a>
            </ul>
          }
          {cientifico.redes.x && 
            <ul>
              <a href=`https://instagram.com/${cientifico.redes.x}`>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"/>
                        <path d="M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z"/>
                        <path d="M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0"/>
                    </g>
                </svg>
              </a>
            </ul>
          }
          {cientifico.redes.x && 
            <ul>
              <a href=`https://x.com/${cientifico.redes.x}`>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M17.751 3h3.067l-6.7 7.625L22 21h-6.172l-4.833-6.293L5.464 21h-3.07l7.167-8.155L2 3h6.328l4.37 5.752zm-1.076 16.172h1.7L7.404 4.732H5.58z"/>
                </svg>
              </a>
            </ul>
          }
          {cientifico.redes.x && 
            <ul>
              <a href=`https://x.com/${cientifico.redes.x}`>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M17.751 3h3.067l-6.7 7.625L22 21h-6.172l-4.833-6.293L5.464 21h-3.07l7.167-8.155L2 3h6.328l4.37 5.752zm-1.076 16.172h1.7L7.404 4.732H5.58z"/>
                </svg>
              </a>
            </ul>
          }
          {cientifico.redes.x && 
            <ul>
              <a href=`https://x.com/${cientifico.redes.x}`>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M17.751 3h3.067l-6.7 7.625L22 21h-6.172l-4.833-6.293L5.464 21h-3.07l7.167-8.155L2 3h6.328l4.37 5.752zm-1.076 16.172h1.7L7.404 4.732H5.58z"/>
                </svg>
              </a>
            </ul>
          }
          {cientifico.redes.x && 
            <ul>
              <a href=`https://x.com/${cientifico.redes.x}`>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M17.751 3h3.067l-6.7 7.625L22 21h-6.172l-4.833-6.293L5.464 21h-3.07l7.167-8.155L2 3h6.328l4.37 5.752zm-1.076 16.172h1.7L7.404 4.732H5.58z"/>
                </svg>
              </a>
            </ul>
          }
        </nav> -->
      </section>
      </main>
</PrincipalLayout>