---
import PrincipalLayout from "./PrincipalLayout.astro";
import Contenido from "../components/Contenido.astro";
import DatosAutor from "../components/DatosAutor.astro";
const{frontmatter} = Astro.props;
const articulos = (await Astro.glob('../pages/*.md')).sort((a, b) => Date.parse(b.frontmatter.fechaOrdenar) - Date.parse(a.frontmatter.fechaOrdenar));

if (frontmatter.portada == undefined){
    frontmatter.portada= "/images/portada-por-defecto.webp"
}

let id

id = frontmatter.fechaMostrar.replace(/\s+/g, '')
id = id.replace(/,/g, '')

console.log(id)
---

<PrincipalLayout title={frontmatter.titulo} description={frontmatter.descripcion} image={frontmatter.portada} {frontmatter} robots={frontmatter.robots}>
    <section class="mt-20 w-full justify-center text-center m-auto px-8 sm:px-32 lg:px-40 xl:px-64 text-principal-black dark:text-principal-white">
        <h4 class="font-generalsans-medium uppercase text-base min-[1800px]:text-xl" id={frontmatter.ciencia} data-pagefind-filter="Ciencia">{frontmatter.ciencia}</h4>
        <h1 class="font-generalsans-semibold text-5xl leading-[3.25rem] min-[1800px]:text-7xl mb-4">{frontmatter.titulo}</h1>
        <DatosAutor fotoDelAutor={frontmatter.fotoDelAutor} autor={frontmatter.autor} fechaMostrar={frontmatter.fechaMostrar} duracion={frontmatter.duracion} rrss={frontmatter.rrss} x={frontmatter.x} instagram={frontmatter.instagram} github={frontmatter.github} discord={frontmatter.discord} youtube={frontmatter.youtube} twitch={frontmatter.twitch} tiktok={frontmatter.tiktok}/>
        <section class="w-full justify-center flex" >
            <img transition:name={`avatar ${frontmatter.url} image`}c/>
        </section>
    </section>
        <section data-pagefind-body class="w-full justify-center flex mt-5">
            <article class="prose font-generalsans dark:prose-invert prose-img:my-3 prose-img:rounded mb-4 text-normal  px-8 sm:px-0 sm:max-w-lg min-[1800px]:text-xl min-[1800px]:max-w-4xl">
                <slot></slot>
            </article>
        </section>
    </main>
    <section class="flex gap-x-7 w-full justify-center h-full mt-7 px-8 md:px-32 lg:px-60 xl:px-72 min-[1800px]:px-96">
        <div class="w-full">
		    <Contenido contenido="article" url={articulos[0].frontmatter.url} ciencia={articulos[0].frontmatter.ciencia} titulo={articulos[0].frontmatter.titulo} autor={articulos[0].frontmatter.autor} fecha={articulos[0].frontmatter.fechaMostrar} imagen={articulos[0].frontmatter.portada} design="xs" fotoAutor={articulos[0].frontmatter.fotoDelAutor} alt={articulos[0].frontmatter.portadaAlt}/>
        </div>
        <div class="hidden sm:block w-full">
		    <Contenido contenido="article" url={articulos[1].frontmatter.url} ciencia={articulos[1].frontmatter.ciencia} titulo={articulos[1].frontmatter.titulo} autor={articulos[1].frontmatter.autor} fecha={articulos[1].frontmatter.fechaMostrar} imagen={articulos[1].frontmatter.portada} design="xs" fotoAutor={articulos[1].frontmatter.fotoDelAutor} alt={articulos[1].frontmatter.portadaAlt}/>
        </div>
        <div class="hidden sm:block w-full"> 
            <Contenido contenido="article" url={articulos[2].frontmatter.url} ciencia={articulos[2].frontmatter.ciencia} titulo={articulos[2].frontmatter.titulo} autor={articulos[2].frontmatter.autor} fecha={articulos[2].frontmatter.fechaMostrar} imagen={articulos[2].frontmatter.portada} design="xs" fotoAutor={articulos[2].frontmatter.fotoDelAutor} alt={articulos[2].frontmatter.portadaAlt}/>
        </div>
	</section>
</PrincipalLayout>

<style>
    #matemáticas{
        color:#004193;
    }
    #biología{
        color:#005100;
    }
    #geología{
        color:#6E3400;
    }
    #física{
        color:#950000;
    }
    #química{
        color:#820083;
    }
    #tecnología{
        color:#623B00;
    }
    #programación{
        color:#5a12b0;
    }
    #científicos{
        color:#004f3e;
    }
    :is(.dark #matemáticas) {
        color:#a8c6e3
    }
    :is(.dark #biología) {
        color:#64db62
    }
    :is(.dark #geología) {
        color:#e2bba5
    }
    :is(.dark #física) {
        color:#ffaaa2
    }
    :is(.dark #química) {
        color:#ff99ff
    }
    :is(.dark #tecnología) {
        color:#f2ba48
    }
    :is(.dark #programación) {
        color:#e9aaff
    }
    :is(.dark #científicos) {
        color:#16dac0
    }
</style>