---
import Layout from "./Layout.astro";
import Menu from "@/components/Menu.astro";
import FilaBotones from "@/components/FilaBotonesDifuminados.astro";
import SeccionArticulosPequenos from "@/components/SeccionArticulosPequenos.astro";
const title = "Inicio";

import { getCollection } from 'astro:content';
import TarjetaSlider from "@/components/TarjetaSlider.astro";
const articles = await getCollection('articles');
interface Article {
    titulo: string;
    // descripcion: string;
    autor: object;
    portadaAlt: string;
    fecha: Date|undefined;
    ciencia: string;
    id: string;
    borrador: boolean|undefined; // O el tipo correcto, según tu necesidad
}

const ciencias = {
    "matematicas": "matemáticas",
    "biologia": "biología",
    "geologia": "geología",
    "fisica": "física",
    "quimica": "química",
    "tecnologia": "tecnología",
    "programacion": "programación",
    "cientificos": "científicos"
}

articles.sort((a, b) => b.data.fecha.getTime() - a.data.fecha.getTime());

let lstArticles: Article[] = []
articles.slice(0,8).map(({data, slug}) => {
    const ciencia = slug.split('/')[0]
    const id = slug.split('/')[1]
    lstArticles.push({
        titulo: data.titulo,
        autor: data.autor,
        portadaAlt: data.portadaAlt,
        fecha: data.fecha,
        ciencia: ciencias[ciencia],
        id: id,
        borrador: data.borrador
    })
})

import {razones} from "@/json/razones-para-saber-ciencia.json"
---

<Layout 
title={title} 
id="layout" 
description="Descubre el poder de la divulgación científica abierta junto a nosotros."
>
    <!--Parte principal del landing-->
    <Menu class="z-40" design="landing-page"/>
    <section
	class="landing-section bg-black h-screen w-full text-center overflow-hidden relative"
	>
		<div class="z-30 flex flex-col text-principal-white absolute h-full justify-center lg:justify-start lg:top-[20%] w-full">
			<header class="w-full px-8">
                <h2 class="text-[1.8rem] sm:text-5xl lg:text-7xl xl:text-8xl min-[1800px]:text-9xl min-[2250px]:text-[10rem] font-generalsans-semibold">
                    divulgandociencia.com
                </h2>
                <p class="text-base sm:text-lg lg:text-xl xl:text-2xl min-[1800px]:text-3xl min-[2250px]:text-4xl my-3 md:my-6 font-generalsans">
                    Descubre el poder de la divulgación científica abierta
                </p>
                <FilaBotones id="botones" class="z-30 relative h-full flex flex-col text-principal-white"/>
                <div class="w-full slider pt-4 hidden lg:block">
                    <div class="slide-track flex w-full gap-x-6">
                        { [...razones, ...razones].map(({texto, autor}) => {
                            return(
                            <div class="slide">
                                <TarjetaSlider {texto} {autor}/>
                            </div>
                            )
                        })}
                    </div>
                </div>
			</header>
		</div>


		<div class="absolute top-0 bottom-0 h-full w-full z-10 bg-principal-black">
			<img alt="Dos chicos jóvenes mirando por microscopios. " class="h-full w-full object-cover opacity-50 blur-md" src="/images/landing-page/portada.webp">
		</div>
	</section>
    <!--Zona de los artículos-->
    <main class="w-full min-[1800px]:py-8">
        <SeccionArticulosPequenos num1="0" num2="2" num3="4" articulos={lstArticles}/>
        <SeccionArticulosPequenos num1="4" num2="6" num3="8" articulos={lstArticles}/>
        <section class="flex w-full justify-center lg:justify-end gap-x-3 px-36 font-generalsans-medium">
            <a href="/articulos" class="bg-faded-black w-48 py-2 px-4 sm:px-0 rounded-lg flex gap-x-1 h-full items-center hover:scale-105 transition-all justify-center dark:bg-faded-white dark:text-principal-white text-base min-[1800px]:text-2xl min-[1800px]:w-64">
                <span class="hidden md:inline">Todos los </span><span class="capitalize md:lowercase">artículos</span>
                <svg class="hidden sm:inline w-5 h-5 min-[1800px]:w-7 min-[1800px]:h-7" width="20" height="20" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13s13-5.832 13-13S23.168 3 16 3zm0 2c6.087 0 11 4.913 11 11s-4.913 11-11 11S5 22.087 5 16S9.913 5 16 5zm-1 5v5h-5v2h5v5h2v-5h5v-2h-5v-5h-2z"/>
                </svg>
            </a>
        </section>
    </main>
</Layout>

<style>
    .slider{
        width: 75vw;
        height:auto;
        margin: auto;
        overflow: hidden;
    }

    .slider .slide-track{
        animation: scroll 120s linear infinite;
        -webkit-animation: scroll 120s linear infinite;
        width: calc(650px * 9 * 2);
    }

    .slider .slide{
        width: 650px;
    }

    .slider .slide-track:hover {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }

    @keyframes scroll{
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        50% {
            -webkit-transform: translateX(calc(-650px * 9));
            transform: translateX(calc(-650px*9));
        }
    }


</style>
