---
const {lan, title, description, image, frontmatter, robots, urlFooter1, textoFooter1, urlFooter2, textoFooter2, urlFooter3, textoFooter3, urlFooter4, textoFooter4, urlFooter5, textoFooter5} = Astro.props;
const titulo = title + " | Divulgando Ciencia"
import Footer from "@/components/Footer.astro";
import Seo from "@/components/Seo.astro";

import { ViewTransitions } from "astro:transitions";

---

<html lang={lan}>
	<head>
		<meta name="description" content={description}>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo-modo-claro.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-adsense-account" content="ca-pub-5669798174045459">
		<title>{titulo}</title>
		<script defer type="text/javascript" src="https://api.pirsch.io/pirsch-extended.js"
    	id="pirschextendedjs"
    	data-code="qslLHw17Mb33pjIEhWoA3AXUL5VMxBUq"></script>

		<Seo 
			{title}
			{description}
			url = {Astro.url}
			{image}
			{frontmatter}
			{robots}
		/>

		<!--<ViewTransitions/> -->
	</head>
	<body class="bg-principal-white dark:bg-principal-black transition-all" >
        <slot/>
		<Footer {urlFooter1} {textoFooter1} {urlFooter2} {textoFooter2} {urlFooter3} {textoFooter3} {urlFooter4} {textoFooter4} {urlFooter5} {textoFooter5}/>
	</body>
	<style is:global>
		@font-face {
		  font-family: 'General Sans Semibold';
		  src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'Halloween Semititles';
		  src: url('/fonts/halloween-semititles.otf') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'Halloween Titles';
		  src: url('/fonts/halloween-titles.ttf') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Regular';
		  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Medium';
		  src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
	  </style> 
</html>