---
import SpeedInsights from "@vercel/speed-insights/astro";
const {title, description, image, frontmatter, robots, footer} = Astro.props;
const titulo = title + " | Divulgando Ciencia"
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";
---

<html lang="es">
	<head>
		<meta name="description" content={description}>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo-modo-claro.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-adsense-account" content="ca-pub-5669798174045459">
		<title>{titulo}</title>
		<script defer type="text/javascript" src="https://api.pirsch.io/pirsch-extended.js"
    		id="pirschextendedjs"
    		data-code="13eazC5IweGdKr2sNWk3WZDeRK5BQ8Iy"></script>

		<Seo 
			{title}
			{description}
			url = {Astro.url}
			{image}
			{frontmatter}
			{robots}
		/>
	</head>
	<body class="bg-principal-white dark:bg-principal-black transition-all">
        <slot/>
		<Footer/>
		<SpeedInsights/>
	</body>
	<style is:global>
		@font-face {
		  font-family: 'General Sans Semibold';
		  src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'Halloween Semititles';
		  src: url('/fonts/halloween-semititles.otf') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'Halloween Titles';
		  src: url('/fonts/halloween-titles.ttf') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Regular';
		  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Medium';
		  src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
	  </style> 
</html>
